[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/textobj-entire"]
	path = vim/bundle/textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
  ignore = dirty
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
  ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
  ignore = dirty
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
